// app global css in SCSS form
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  --border-radius: 19px;
  --bg-default-color: #e4e4e4;
  --text-default-color: #191919;
  --bg-card-color: #f9f9f9;
  --text-card-color: #191919;
  --bg-btn-color: #d4d4d4;
  --text-btn-color: #1b1b1b;

  background: var(--bg-default-color);
}

.rounded-borders {
  border-radius: var(--border-radius) !important;
}

.free-color {
  color: #8AC926 !important;
}

.mid-color {
  color: #FFCA3A !important;
}

.max-color {
  color: #FF595E !important;
}

.bg-default-color {
  background: var(--bg-default-color) !important;
}

.text-default-color {
  color: var(--text-default-color) !important;
}

.bg-card-color {
  background: var(--bg-card-color) !important;
}

.text-card-color {
  color: var(--text-card-color) !important;
}

.bg-btn-color {
  background: var(--bg-btn-color) !important;
}

.text-btn-color {
  color: var(--text-btn-color) !important;
}
